@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');





body{
  align-items: center;

}
  #cartelVendido{
    background-color: #b0ccc0;
  color:rgb(238, 203, 209);
  }

 /* 
  color de fondo nav
  background-color: rgb(220, 248, 216); 
  */






@media (max-width: 991px) {
  



}





